* {
  margin: 0;
}
.App {
  text-align: center;
}

#Logo {
  max-width:10%;
  padding: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display:flex;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 5px solid darkgreen;
  margin-bottom: 15px;
  float:right;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 10px;
  float:right;
  font-size: 35px;
}

.nav-links a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
  margin-right: 8px;
  padding: 0 5px;
  float:right;
}

.nav-links a:hover {
  color:white;
}

.nav-links a:active {
  color:white;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  color: white;
}

.pizza-header {
  background-color: crimson;
}
.container {
  background-color: #DDAD7C;
}